@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p> Please Login or Register </p>
	<p> <a href="/Customer/Registration">Register</a> </p>
	<p> <a href="/Customer/Login">Login</a> </p>
</div>

@if(ViewBag.Message != null)
{
	<script type="text/javascript">
            window.onload = function ()
			{
                alert("@ViewBag.Message");
			}
	</script>
}